.dropdown-label{
    float: left;
    margin-bottom: 5px;
    font-size: 12px;
    font-family: sans-serif;
    color: rgb(45, 45, 247);
}

.ldap-lookup-div{

    text-align: left;
    font-size: 11px;
    font-family: sans-serif;
    margin-left: 40%;
    margin-top: 5%;    
}

.form-control{
    text-align: left;
    font-size: 11px;
    font-family: sans-serif;
}

.container {
    width: 300px;
    font: 17px Calibri;
}

ul li{
      display: block !important;
  }

  .select2-selection .select2-selection--single {
        height: 34px !important;
  }