<style>
  .is-loading ::ng-deep .mat-option-text {
    display: flex;
    justify-content: center;
  } 
  input{
    width: 100%;
  }
  input:focus {
    outline-width: 0;
}
</style>

<div class="input-group">
  <div class="input-group-addon">
    <i class="glyphicon glyphicon-user"></i>
  </div>
  <div class="form-control" [formGroup]="parentForm">
      <mat-form-field style="margin-top:-13px !important;">
          <input type="text" matInput [matAutocomplete]="auto" [formControlName]="frmField" style="border:none;"> 
      </mat-form-field>
  </div>
  
<mat-autocomplete #auto="matAutocomplete" [panelWidth]="350" style="margin-top:-8px;">
    <mat-option *ngIf="isLoading" class="is-loading">
      <mat-spinner diameter="20"></mat-spinner>
    </mat-option>
    <ng-container *ngIf="!isLoading">
      <mat-option *ngFor="let user of filteredUsers" [value]="user.DisplayName">
        {{user.title}}
      </mat-option>
    </ng-container>
  </mat-autocomplete> 



</div>